{{!-- TODO abstract folder grid to a component --}}
<div class="folder-grid">
  <div>
    <NamespaceSelect
      @namespaces={{@datapack.namespaces}}
      @currentNamespace={{@namespace}}
      @selectNamespace={{@selectNamespace}}
    />
    <FolderDisplay::Index
      @createFile={{this.createFile}}
      @deleteFile={{this.deleteFile}}
      @editFile={{this.editFile}}
      @createFolder={{this.createFolder}}
      @openFile={{this.openFile}}
      @schema={{this.folderSchema}}
    />
  </div>
  <div>
    <p>TODO function editor</p>
  </div>
</div>